<!DOCTYPE html>
<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Cookie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="../src/scripts/index.js"></script>
    <link rel="stylesheet" href="../styles/main.css">
<body>
    <h1 class="header">Fortune Cookie Generator</h1>
    <div class="all">
        <div class="random-box">
            <div class="inside info">
                <p>Note: Click the button below to get a new fortune message or add one</p>
            </div>
            <div class="inside message">
                <h2 id="message-text">"{message}"</h2>
            </div>
            <div class="inside button">
                <button id="random-button">New message</button>
                <button id="add-button" onclick="window.location.href='/add.php'">Add message</button>
            </div>
        </div>
    </div>
</body>
</html>